{% extends "joc/base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration page for the Eurocup 2016 game" %}{% endblock %}
{% block scripts %}
<script language="Javascript">
<!--
function valida()
{
	if(f1.accepto.checked==false){
		alert("Has d'acceptar les normes per poder-te registrar!")
	}else{
		document.f1.submit()
	}
}
-->
</script>
{% endblock %}

{% block content %}

{% trans "Once you are registered, you'll receive an email with the instructions" %}
<br>
<br>

<form action="" method="post" name="f1">{% csrf_token %}


<table width="800px" align="center">
{% for field in form %}
<tr>
<td width="40%" style="text-align: right">{{ field.label_tag }}</td>
<td width="15%">{{ field }}</td>
<td width="45%" style="text-align: left; color: red">{{ field.errors.as_text }}</td>
<tr>
{% endfor %}
{% for field in supplement_form %}
<tr>
<td width="40%" style="text-align: right">{{ field.label_tag }}</td>
<td width="20%">{{ field }}</td>
<td width="40%" style="text-align: left; color: red">{{ field.errors.as_text }}</td>
<tr>
{% endfor %}
</table>

<p></p>
<div id="taula">
Abans de registrar-te, llegeix aquestes petites instruccions per saber el funcionament del joc:<br><br>
<center>
<textarea name="comentario" rows="10" cols="80" readonly="true">
Funcionament:

1.- S'ha de realitzar el pronòstic abans de la data d'inici de l'Eurocopa. Aquest es podrà modificar sempre que es vulgui fins el dijous 9 de juny a les 23:00, moment en què es farà la còpia de seguretat de tots els pronòstics i es bloquejarà aquesta opció. No cal que feu tot el pronòstic sencer d'una vegada: si us quedeu a mitges, es guardaran els resultats que hagueu entrat, i el pròxim cop que us connecteu us apareixeran els resultats guardats.

2.- En els partits de la segona fase (a partir de vuitens), el resultat que val és el del final dels 90 minuts. Per tant, si un partit es decideix a la pròrroga o als penals, el resultat i el signe del partit serà empat.

3.- Al final de cada jornada s'actualitzarà la classificació del joc. 

4.- En el cas que hi hagi algun problema no previst, com ara alguna cosa que no estigués contemplada a les puntuacions o qualsevol altra cosa que surti del normal, com pot ser la desqualificació d'algun equip, s'actuarà de la següent manera:

- S'exposarà el problema detectat a través del Fòrum
- Es proposaran possibles solucions
- La gent tindrà oportunitat d'expressar les seves opinions al respecte
- S'intentarà arribar a un consens
- Els Membres Organitzadors tindran sempre l'última paraula a l'hora de decidir, encara que esperem que aquesta situació no s'arribi a donar

5.- La puntuació que s'utilitzarà estarà exposada a la pàgina oficial del joc. 

6.- En cas d'error informàtic, els Membres Organitzadors decidiran el que es fa.

7.- Quan comenci l'Eurocopa, es guardarà una còpia amb tots els resultats, no sigui cas que més tard algú ens intenti timar.

8.- Els Membres Organitzadors es reserven el dret d'expulsar algun jugador si s'observa un comportament inadequat.

9.- Demanem a la gent que sigui el màxim de comprensiva i respectuosa amb els problemes o imprevistos que poguin sorgir d'ara en endavant, ja que l'objectiu del joc és passar-s'ho bé.

10.- Per penjar missatges al fòrum cal estar registrat. és un registre diferent al de la pàgina de l'Eurocopa, i us demanem que feu servir el mateix nom d'usuari, així serà més fàcil saber qui és qui.

11.- Els Membres Organitzadors esmentats abans són:

	-Xavier Janer, com a Tècnic Informàtic de puta mare que ha creat la pàgina i un suport informàtic que fa que aquest joc sigui possible

	-Bernat Comas, com a Director de Màrketing i Coordinador de tota la part no relacionada amb la informàtica

	-Jordi Mascaró, com a Matèria Gris, fonamental pel desenvolupament i evolució del complex sistema de puntuació.

I comptem amb l'apreciadíssima ajuda de la Junta de Pensadors, composta per:

	- Pere Cervera
	- Jose Miguel García

que han sigut vitals per definir i explorar totes les possibilitats del joc, i per posar les bases del sistema de puntuació.
</textarea></center>
<p></p>
<div class="tick"><input type="checkbox" name="accepto">M'he llegit les normes i les accepto.</div>
</div>
<p><input type="submit" onclick="valida()" value="{% trans 'Register' %}"></p>
</form>

{% endblock %}

