#resultats{
	margin-top: 40px;
	width: 700px;
	margin:auto;
	clear:both;
}
#classificacio{
	margin-top: 40px;
	width: 700px;
	margin:auto;
	clear:both;
	padding-top: 25px;
}
.partit1{
	padding-top: 25px;
	clear:both;
	text-align:center;
	margin:auto;	
	width:600px;
}
.partit2{
	padding-top: 25px;
	clear:both;
	text-align:center;
	margin:auto;	
	width:600px;
}
.titol_partit{
	color: #992222;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
}
.dia{
	padding-left: 5px;
	background-color: black;
	color: white;
	font-family: Verdana;
	font-size: 12px;
}
.equip{
	font-family: Verdana;
	font-size: 12px;
}
.negreta{
	font-family: Verdana;
	font-size: 10px;
}
.taula_classi{
	padding-left:50px;
	padding-top: 15px;
	padding-bottom: 15px;
	float:left;
	width:450px;
}
.boto_next{
	padding-top: 75px;
	float:right;
	width:175px;
}
.classif input{
	border:0;
}
.boto_index{
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: #be7400;
	width: 150px;    
}
#boto_quarts{
	padding-top:25px;
	padding-bottom:25px;
	width:400px;
	text-align:center;
	clear:both;
	float:right;
}
