{% extends "joc/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/estil_grup.css" %}">
{% endblock stylesheets %}
{% block scripts %}
<script src="{% static "js/funcions.js" %}"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
{% endblock scripts %}

{% block title %}Entrada dels resultats dels grups{% endblock %}

{% block content %}

<form id="f1" name="f1" action="{% url 'joc:pronostic' %}?grup={{ seguent_grup }}" method="post">
{% csrf_token %}
<div id="resultats">
{{ formset.management_form }}
{% for form in formset %}
{{ form.id }}
{% if forloop.counter0 < 2 %}
<input type="hidden" name="nom-equip-{{ form.instance.partit.equip1.id }}" value="{{ form.instance.partit.equip1.nom }}">
<input type="hidden" name="nom-equip-{{ form.instance.partit.equip2.id }}" value="{{ form.instance.partit.equip2.nom }}">
<input type="hidden" name="bandera-equip-{{ form.instance.partit.equip1.id }}" value="{% with 'banderes/'|add:form.instance.partit.equip1.bandera as bandera1 %}{% static bandera1 %}{% endwith %}">
<input type="hidden" name="bandera-equip-{{ form.instance.partit.equip2.id }}" value="{% with 'banderes/'|add:form.instance.partit.equip2.bandera as bandera2 %}{% static bandera2 %}{% endwith %}">
{% endif %}
{% if forloop.counter0|divisibleby:2 %}
<div class="partits_linia">
<div class="partit1">
{% else %}
<div class="partit2">
{% endif %}
{% include "joc/partit.html" %}
</div>
{% if not forloop.counter0|divisibleby:2 %}
</div>
{% endif %}
{% endfor %}
</div>

{% include "joc/grup_classificacio.html" %}


</form>

{% endblock %}

