{% extends "joc/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Welcome!' %}{% endblock %}

{% block content %}

{% block nav %}
<ul class="nav">
    <li>{% block nav-pronostic %}<a class="indexButton" href="{% url 'joc:pronostic' %}">{% trans "Fes el pronòstic" %}</a>{% endblock %}</li>
    <li>{% block nav-consulta %}<a class="indexButton" href="{% url 'joc:consulta' %}">{% trans "Consulta el pronòstic" %}</a>{% endblock %}</li>
    <li>{% block nav-usuaris %}<a class="indexButton" href="{% url 'joc:usuaris' %}">{% trans "Llistat d'usuaris" %}</a>{% endblock %}</li>
</ul>
{% endblock %}

{% endblock %}

